<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script> 
    <script type="text/javascript" src="{% static "nucleo/js/delete.js" %}"></script>
  </head>
  <body>
    <body>
    {% load roles %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if request.user|rol:'staff' or request.user|rol:'admin' %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Noticias </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'noticias:noticias' %}">Noticias</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'noticias:addnoticia' %}">Crear</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item ">
                <a class="nav-link -toggle" href="{% url 'noticias:noticias' %}" id="navbar" role="button" aria-haspopup="true" aria-expanded="false"> Noticias </a>
              </li>
            {% endif %}

            {% if request.user|rol:'staff' or request.user|rol:'admin' %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Carreras </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'carreras' %}">Carreras</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'addcarrera' %}">Crear</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item ">
                <a class="nav-link -toggle" href="{% url 'carreras' %}" id="navbar" role="button" aria-haspopup="true" aria-expanded="false"> Carreras </a>
              </li>
            {% endif %}

            {% if request.user|rol:'admin' %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Entrenos </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'entrenos' %}">Entrenos</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'addentreno' %}">Crear</a>
                </div>
              </li>
            {% endif %}

            {% if request.user|rol:'user' or request.user|rol:'staff' %}
              <li class="nav-item ">
                <a class="nav-link -toggle" href="{% url 'contacto' %}" id="navbar" role="button" aria-haspopup="true" aria-expanded="false"> Contacto </a>
              </li>
            {% endif %}

            <li class="nav-item ">
              <a class="nav-link -toggle" href="{% url 'blog' %}" id="navbar" role="button" aria-haspopup="true" aria-expanded="false"> Blog </a>
            </li>

            {% if request.user|rol:'admin' %}
              <li class="nav-item ">
                <a class="nav-link -toggle" href="{% url 'usuarios' %}" id="navbar" role="button" aria-haspopup="true" aria-expanded="false"> Usuarios </a>
              </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav float-right">
            <li class="nav-item dropdown navbarLogin">
            {% if not request.user.is_authenticated %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Acceder </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -100%;">
                <div class="container">
                <a class="nav-link" id="navbarloging" href="{% url 'login' %}" role="button" aria-haspopup="true" aria-expanded="false"> Iniciar sesion </a>
                <hr>
                <a class="nav-link" href="{% url 'signup' %}"  id="navbarLogout" role="button" aria-haspopup="true" aria-expanded="false"> Registrarse</a>
                </div>
              </div>
            {% else %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{request.user}} </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -90%;">
                <div class="container">
                  {% if request.user|rol:'user' %}
                    <a class="nav-link" href="{% url 'entrenos' %}"  id="navbarLogout" role="button" aria-haspopup="true" aria-expanded="false">Mis entrenos</a>
                    <a class="nav-link" href="{% url 'posicionesuser' %}" id="navbarLogout" role="button" aria-haspopup="true" aria-expanded="false">Clasificaciones</a>
                  {% endif %}
                  <a class="nav-link" href="{% url 'perfil' %}"  id="navbarLogout" role="button" aria-haspopup="true" aria-expanded="false"> Editar perfil</a>
                  <hr>
                  <a class="nav-link" href="{% url 'logout' %}"  id="navbarLogout" role="button" aria-haspopup="true" aria-expanded="false"> Cerrar sesion</a>
                </div>
              </div>
            {% endif %}
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}{% endblock %}
  </body>
  <footer style="position: fixed; bottom: 0; width: 100%; background-color: #F8F9FA;">
    <div class="text-center py-1">
      © 2019 Copyright: Jose Manuel Mosquera Gómez
    </div>
  </footer>
</html>