{% extends 'nucleo/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>{{title}}</h1>
    <h1>Bienvenido a su gestor de carreras y entrenos.</h1>
    <p class="mt-5">
      Disfrute de nuestro gestor, apuntandose a sus carreras favoritas, realizando sus
      entrenos programados por nuestros profesionales, comentando y compartiendo experiencias
      en nuestro blog implementado y descubriendo las ultimas noticias del mundo de running.
    </p>
  </div>
</div>
{% endblock %}