{% extends 'nucleo/base.html' %}

{% load static %}

{% block title %}Página{% endblock %}

{% block content %}
<br>
<section class="page-section cta">
    <div class="container mb-5">
    {% for usuario in usuarios %}
        <div class="row">
            <div class="col-11" style="margin: 0 auto;">
                <div class="card">
                    <div class="card-body row">
                        <p class="card-title col-5">{{usuario.first_name}} {{usuario.last_name}}</p>
                        <p class="card-text text-center col-">{{usuario.username}}</p>
                        <p class="card-text text-center col-2">{{usuario.email}}</p>
                        <div class="col-2">
                            <form class="float-rigth" action="{% url 'usergroup' %}" method="post">{% csrf_token %}
                                <input type="hidden" name="user_id" value="{{usuario.id}}">
                                <input type="submit" class="btn btn-primary" value="Asignar permisos user">
                            </form>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}