{% extends 'nucleo/base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% load roles %}

{% block content %}
    <script>
        function oucltarComentBox() {
            var x = document.getElementById("comentarioBox");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }

            var elmnt = document.getElementById("formComent");
            elmnt.scrollIntoView();
        }
    </script>
    <br>
    <section class="page-section cta">
        <div class="container">
            <div class="card">
                {% if post.imagen %}
                    <img class="card-img-top mt-2" style="width: 50%; margin: 0 auto;" src="{{post.imagen.url}}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title text-center">{{post.titulo}}</h3>
                    <p class="card-text">{{post.contenido|safe}}</p>
                </div>
                <div class="card-footer">
                    <div class="row text-center">
                        <div class="col-6">
                            <a class="text-right mt-2"><span class="text-right section-heading-under">Publicado por {{post.autor}}. Categorias: 
                            {% for categoria in post.categorias.all %}
                                <a href="{% url 'categoria' categoria.id %}" class="link">{{categoria.nombre}}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </span>
                        </div>
                        {% if request.user|rol:'admin' or request.user|rol:'staff' %}
                            <div class="col-2" style="color: white;">
                                <a onclick="oucltarComentBox()" style="color: white;" class="btn btn-primary">Comentar post</a>
                            </div>
                            <div class="col-2" style="color: white;">
                                <a href="{% url 'editpost' post.id %}" class="btn btn-primary">Modificar</a>
                            </div>
                            <div class="col-2" style="color: white;">
                                <a href="{% url 'eliminarpost' post.id %}" onclick="alerta(event)" class="btn btn-danger">Eliminar</a>
                            </div>
                        {% elif request.user.id == post.autor.id %}
                            <div class="col-2" style="color: white;">
                                <a onclick="oucltarComentBox()" style="color: white;" class="btn btn-primary">Comentar post</a>
                            </div>
                            <div class="col-2" style="color: white;">
                                <a href="{% url 'editpost' post.id %}" class="btn btn-primary">Modificar</a>
                            </div>
                            <div class="col-2" style="color: white;">
                                <a href="{% url 'eliminarpost' post.id %}" onclick="alerta(event)" class="btn btn-danger">Eliminar</a>
                            </div>
                        {% elif request.user|rol:'user' %}
                            <div class="col-2" style="color: white;">
                                <a onclick="oucltarComentBox()" style="color: white;" class="btn btn-primary">Comentar post</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if request.user|rol:'admin' or request.user|rol:'user' %}
                <div id="comentarioBox" style="display: none;">
                    <hr>
                    <form action="{% url 'addcomentario' post.id %}" method='POST' id="formComent" enctype="multipart/form-data">{% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" class="btn btn-primary" value="Comentar"/>
                    </form>
                </div>
            {% endif %}

            <hr>

            
            {% for comentario in comentarios|dictsort:"id" reversed %}
                <div class="row">
                    <div class="col-11" style="margin: 0 auto;">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        {% if comentario.imagen %}
                                            <a href="{{comentario.imagen.url}}"><img style="width: 100%; margin: 0 auto;" src="{{comentario.imagen.url}}" alt="Card image cap"></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-8">
                                        <p class="comentario">{{comentario.contenido|safe}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row text-center">
                                    <div class="col-8">
                                        <a class="text-right mt-2"><strong> Publicado por, <span>{{comentario.autor}}</span> </strong></a>
                                    </div>
                                    {% if request.user.id == comentario.autor.id %}
                                        <div class="col-2" style="color: white;">
                                            <a href="{% url 'editcomentario' comentario.id %}" class="btn btn-primary">Modificar</a>
                                        </div>
                                        <div class="col-2" style="color: white;">
                                            <form action="{% url 'eliminarcomentario' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="comentario_id" id="comentario_id" value="{{comentario.id}}">
                                                <input type="hidden" name="post_id" id="post_id" value="{{comentario.post.id}}">
                                                <input type="submit" class="btn btn-danger" value="Eliminar">
                                            </form>
                                        </div>
                                    {% elif request.user|rol:'admin' %}
                                        <div class="col-2" style="color: white;">
                                            <a href="{% url 'editcomentario' comentario.id %}" class="btn btn-primary">Modificar</a>
                                        </div>
                                        <div class="col-2" style="color: white;">
                                            <form action="{% url 'eliminarcomentario' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_comentario" id="id_comentario" value="{{comentario.id}}">
                                                <input type="hidden" name="id_post" id="id_post" value="{{comentario.postComent.id}}">
                                                <input type="submit" class="btn btn-danger" value="Eliminar">
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>  
                </div> 
                <br>
            {% endfor %}
        </div>
    </section>
{% endblock %}